
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

:root {
    --color1: #ff1e00;
    --color2: #e8f9fd;
    --color3: #59ce8f;
    --color4: #e1b382;
    --color5: #c89666;
    --color6: #2d545e;
    --color7: #12343b;
}